<a href="https://colab.research.google.com/github/oluseyiogundiran/Datatestrepo/blob/main/Activity_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
d={'Mouse':[150,200,300,400],
'Keyboard':[180,200,190,300],
'Scanner':[200,280,330,450]}
df=pd.DataFrame(d,index=['Jan','Feb','March','April'])
df

       Mouse  Keyboard  Scanner
Jan      150       180      200
Feb      200       200      280
March    300       190      330
April    400       300      450

In [ ]:
# Write code to access data of Mouse and Scanner columns.
df_new = df. iloc[:, [0,2]]
df_new

       Mouse  Scanner
Jan      150      200
Feb      200      280
March    300      330
April    400      450

In [ ]:
# Write code to access data of the Keyboard column using dot notation and column name.
df.Keyboard

Jan      180
Feb      200
March    190
April    300
Name: Keyboard, dtype: int64

In [ ]:
# Write code to access data of scanners using loc[].
df_new = df. iloc[:, [2]]
df_new

       Scanner
Jan        200
Feb        280
March      330
April      450

In [ ]:
# Write code to access data of all columns where mouse data is more than 200.
df[df["Mouse"]>200]

       Mouse  Keyboard  Scanner
March    300       190      330
April    400       300      450

In [ ]:
# Write code to access columns using 0 and 2.
df_new = df. iloc[:, [0,2]]
df_new

       Mouse  Scanner
Jan      150      200
Feb      200      280
March    300      330
April    400      450

In [ ]:
# Write code to access data of rows of jan and march for scanner and keyboard
df_new = df. loc[['Jan', 'March'],['Scanner', 'Keyboard']]
df_new

       Scanner  Keyboard
Jan        200       180
March      330       190