<a href="https://colab.research.google.com/github/oluseyiogundiran/Datatestrepo/blob/main/Course_7_EDA_AdultCSV.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# import libraries
import pandas as pd
import numpy as np
import string as str

In [ ]:
# read dataframe
df = pd.read_csv("adult.csv")

In [ ]:
# view df
df.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [ ]:
# replace null values
df.replace('?', np.nan, inplace = True)
df.isnull().sum()

# check extra spaces

age                0
workclass          0
fnlwgt             0
education          0
educational-num    0
marital-status     0
occupation         0
relationship       0
race               0
gender             0
capital-gain       0
capital-loss       0
hours-per-week     0
native-country     0
income             0
dtype: int64

In [ ]:
# Question 1: How many men and women (sex feature) are represented in this dataset?
df["gender"].value_counts()

 Male      21790
 Female    10771
Name: gender, dtype: int64

In [ ]:
# Question 2: What is the average age (age feature) of women?
df.loc[df['gender'].str.strip() == 'Female', 'age'].mean()

36.85823043357163

In [ ]:
# Question 3: What is the percentage of German citizens (native-country feature)?
german_citizens = (df['native-country'].str.strip() == 'Germany').mean() * 100
"{:.2f}%".format(german_citizens)

0.42074874850281013

In [ ]:
# Question 4: What are the mean and standard deviation of age for those who earn more than
# 50K per year (salary feature) and those who earn less than 50K per year?

ages1 = df.loc[df['income'].str.strip() == '>50K', 'age']
ages1_mean = round(ages1.mean())
ages1_std = round(ages1.std(), 1)

ages2 = df.loc[df['income'].str.strip() == '<=50K', 'age']
ages2_mean = round(ages2.mean())
ages2_std = round(ages2.std(), 1)

result = "The average age of the rich: {0} +- {1} years, poor - {2} +- {3} years.".format(
    ages1_mean, ages1_std, ages2_mean, ages2_std
)

result

'The average age of the rich: 44 +- 10.5 years, poor - 37 +- 14.0 years.'

In [ ]:
# Question 5: Is it true that people who earn more than 50K have at least a high school
# education?
df_ed = df[df['income'].str.strip() == '>50K']['education']
print(df_ed.all())

True

In [ ]:
c

race                 gender
 Amer-Indian-Eskimo   Female    80
                      Male      82
 Asian-Pac-Islander   Female    75
                      Male      90
 Black                Female    90
                      Male      90
 Other                Female    74
                      Male      77
 White                Female    90
                      Male      90
Name: age, dtype: int64

In [ ]:
https://colab.research.google.com/drive/1LKP6hXsjQWfnjjfYuvOjEI_EkvkbZ87_?usp=sharing#scrollTo=2xsGKjV1Wz5p

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [ ]:
race_data = df.iloc[:,[0,8]]
gender_data = df.iloc[:,[0,9]]
race_group = race_data.groupby('race')
print(race_group.describe())

gender_group = gender_data.groupby('gender')
print(gender_group.describe())

                         age                                                \
                       count       mean        std   min   25%   50%   75%
race
 Amer-Indian-Eskimo    311.0  37.173633  12.447130  17.0  28.0  35.0  45.5
 Asian-Pac-Islander   1039.0  37.746872  12.825133  17.0  28.0  36.0  45.0
 Black                3124.0  37.767926  12.759290  17.0  28.0  36.0  46.0
 Other                 271.0  33.457565  11.538865  17.0  25.0  31.0  41.0
 White               27816.0  38.769881  13.782306  17.0  28.0  37.0  48.0


                      max
race
 Amer-Indian-Eskimo  82.0
 Asian-Pac-Islander  90.0
 Black               90.0
 Other               77.0
 White               90.0
             age
           count       mean        std   min   25%   50%   75%   max
gender
 Female  10771.0  36.858230  14.013697  17.0  25.0  35.0  46.0  90.0
 Male    21790.0  39.433547  13.370630  17.0  29.0  38.0  48.0  90.0

In [ ]:
# Question 7: Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (marital-status feature)?
# Consider as married those who have a marital-status starting with Married (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.
df.head()
df['marital-status'].unique()
men = df[df['gender'] == 'Male' & df[]]
married_men = []
# df_bachelors = df[~df.index.isin(df_married.index)]

In [ ]:
df_married.head()

0    False
1    False
2    False
3    False
4    False
Name: marital-status, dtype: bool

# New Section